example/config.ini

# Byte-compiled / optimized / compiled Python files
__pycache__/
.pytest_cache/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.env/
venv/
.venv/

# IDE settings
.idea/

# Other data and test files
developer_test_files/
dev/

# Build artifacts
*.egg-info/
build/

# Log files
*.log
*.mdmp
logs

# Tests
tests/*.png
tests/config.ini
example/config.ini
tests/dataframe_to_csv
.env
tests_integration_airflow/.db

# testbench and benchpy
schema/

# Local TM1 Bedrock deployments
.tm1_bedrock_deployments/
