# Byte-compiled / optimized / compiled Python files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.env/
venv/
.venv/

# IDE settings
.idea/

# Other data and test files
developer_test_files/
example/main.py

# Build artifacts
*.egg-info/
build/

# Log files
*.log
*.mdmp
logs

# Tests
tests/*.png
tests/config.ini
tests/dataframe_to_csv
.env
tests_integration_airflow/.db

# testbench and benchpy
schema/
/example/dimension_builder_init.xlsx
