Skipcheck;

['XP Planning Measure':'Value'] =C:
IF( ELLEV('Period',!Period)>0,
   DB('XP Planning', !Version, ATTRS('Period', !Period, 'Last_M_Y'),!XP Planning, 'Value'),
STET);

['XP Planning Measure':'Reset'] =C:
IF( ELLEV('Period',!Period)>0,
   DB('XP Planning', !Version, ATTRS('Period', !Period, 'Last_M_Y'),!XP Planning, 'Reset'),
STET);

['XP Planning Measure':'Color'] =C:
IF( ELLEV('Period',!Period)>0,
   DB('XP Planning', !Version, ATTRS('Period', !Period, 'Last_M_Y'),!XP Planning, 'Color'),
STET);

# verzo szabályok
[]= N:
IF(ELISPAR('Version','Report',!Version) = 1,
STET,Continue);


['XP Planning':'TV Calculated from Naturalia', 'XP Planning Measure':'Value'] =N:
  DB('Subscription Report', !Version, !Period, 'Total', 'Total', 'KTV Alaptermék Lakossagi Total',  'Value')
  +
  DB('Subscription Report', !Version, !Period, 'Total', 'Total', 'KTV Alaptermék Üzleti Total',  'Value')
  ;

['XP Planning':'NET Calculated from Naturalia', 'XP Planning Measure':'Value'] =N:
  DB('Subscription Report', !Version, !Period, 'Total', 'Total', 'Internet Lakossagi Total', 'Value')
  +
  DB('Subscription Report', !Version, !Period, 'Total', 'Total', 'Internet Üzleti Total', 'Value')
  ;

['XP Planning':'TEL Calculated from Naturalia', 'XP Planning Measure':'Value'] =N:
  DB('Subscription Report', !Version, !Period, 'Total', 'Total', 'Telefon Lakossagi Total', 'Value')
  +
  DB('Subscription Report', !Version, !Period, 'Total', 'Total', 'Telefon Üzleti Total', 'Value')
  ;
FEEDERS;



